body {
  margin: 0;
  padding: 50px;
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

#nav, #extras {
  display: table-cell;
  width: 100px;
  padding: 1em;
  border: 1px solid red;
}
#content {
  display: table-cell;
  padding: 1em;
  border: 1px solid red;
}
.row {
  display: table-row;
}
.inner-content {
  display: table-cell;
  width: 100px;
  height: 100px;
  padding: 1em;
  border: 1px dashed #666;
}
